html,
body {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: row;
}

.sideBar {
  flex: 0 0 1;
  width: 200px;
  padding: 10px;
  border-right: 1px solid #111;
  height: 100vh;
  background: #e1e1e1;
}

.sideBarItem {
  border: 1px solid #000;
  border-radius: 3px;
  height: 30px;
  padding: 10px;
  margin-top: 10px;
  background: #ccc;
}

.page {
  flex: 1 1 auto;
  padding: 10px;
  margin: 10px;
  border: 1px solid green;
}

.dropZone {
  flex: 0 0 auto;
  height: 40px;
  transition: 200ms all;
}

.dropZone.horizontalDrag {
  width: 40px;
  height: auto;
}


.sectionContainer {
  & > .dropZone.horizontalDrag {
    width: auto;
  }

  .sections {
    width: auto;
    min-height: 40px;
  
    & > .dropZone.horizontalDrag.isLast:only-child {
      width: 100%;
    }
  } 

}

.dropZone:not(.horizontalDrag).isLast {
  flex: 1 1 auto;
}

.dropZone.active {
  background: #00a2ff;
  transition: 100ms all;
}


.component {
  height: 60px;
  padding: 10px;
  background: #aaa;
}

.subSection {
  border: 1px solid blue;
  flex: 1 1 100%;
}

.sections {
  display: flex;
  padding: 20px 0;
}

.sectionContainer {
  display: flex;
}

.base {
  background-color: white;
  cursor: move;
}

.section {
  border: 1px solid red;
  padding: 0;
}

.pageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.component.draggable {
  border: 1px dashed black;
  padding: 0.5rem 1rem;
  background-color: white;
  cursor: move;
}

.sectionContainer,.subSectionContainer   {
  display: flex;
  flex-direction: row;
}

.sectionLabel,.subSectionLabel {
  display: block;
}